@@charset "UTF-8";

@font-face {
  src: url("font/glyphicons.ttf");
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'glyphicons', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

.container-fluid {
  padding: 0;
}

.btn-custom {
  background-color: #3498DB;
  color: #ffffff;
}

.separator {
  height: 3px;
  width: 5%;
  border: none;
  box-shadow: none;
  background-color: #3498DB;
}

/* header */
.header {
  /*background-color: #3498DB;*/
  background: linear-gradient(#3498DB, #86C1EA);
  height: 70px;
  line-height: 70px;
}

.logo {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu {
  float: right;
}

.menu a {
  color: #ffffff;
  margin-right: 20px;
}

.menu a:hover {
  color: #2C3E50;
}

/* bannière */
.banner {
  width: 100%;
  max-width: 100%;
}

.ban {
  width: 100%;
  max-width: 100%;
}

.ban img {
  width: 100%;
  max-width: 100%;
}

.inner-banner {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.inner-banner h1 {
  color: #ffffff;
  text-shadow: 1px 1px 20px #000000;
}

.inner-banner .btn-custom {
  background-color: #3498DB;
  color: #ffffff;
}

.inner-banner .btn-custom:hover {
  background-color: #2C3E50;
}


/* about */
#about {
  text-align: center;
  padding-top: 10%;
}

.about article {
  margin-top: 10%;
  margin-bottom: 10%;
}

.about article h2 {

}

/* portfolio */
.portfolio {
  background-color: #eeeeee;
  height: auto;
}

#portfolio {
  text-align: center;
}

.portfolio .item-folio {
  height: 300px;
  background-color: #eeeeee;
}

.item-folio img {
  display: block;
  height: 55%;
  margin-top: 2%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.item-folio img:hover {
  border-color: #000000;
}


/* contact */
.footer {
  background-color: #2C3E50;
  height: auto;
}

.footer p {
  color: #ffffff;
  text-align: center;
  padding-top: 5%;
}

.reseauxsociaux img{
  margin-left: 10%;
  margin-top: 5%;
}

.reseauxsociaux img:hover {
  background-color: #4F7091;
}

/*.formcomplet {
  display: inline;
  width: 100%;
}*/

#contact {
  color: #ffffff;
  text-align: center;
}

.coordonnees {
  width: 20%;
  display: block;
}

.formuaireContact {
  width: 50%;
  display: block;
  margin: 0 auto;
}

input {
  margin-bottom: 20px;
  margin-left: 35%;
}

input[type=text] {
  height: 50px;
  width: 50%;
  border: none;
}

input[type=email] {
  height: 50px;
  width: 50%;
  border: none;
}

textarea {
  margin-left: 35%;
  width: 50%;
  height: 200px;
  min-height: 200px;
  max-height: 500px;
  resize: vertical;
}

.pull-right {
  margin-right: 15%;
}
